* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Styling */
.navbar {
    display: flex;
    list-style: none;
    background: #4c6ca0;
    border-radius: 5px;
}

.navbar li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
}

.navbar li a:hover {
    background-color: #446190;
}

/* Side menu */
.side-menu {
    list-style: none;
    border: 1px #ddd solid;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
}

.side-menu li {
    font-size: 18px;
    line-height: 2.4em;
    border-bottom: dotted 1px #ddd;
}

.side-menu li:last-child {
    border: none;
}

.side-menu li a {
    color: #333;
    text-decoration: none;
}

.side-menu li a:hover {
    color: coral;
}