* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    display: line;
}

li a {
    padding-right: 10px;
}

img {
    display: block;
}

.box {
    display: inline-block;
    width: 32%;
    background: #f4f4f4;
    padding: 20px;
    margin-bottom: 15px;
}